html, body {
	width: 100%;
    height: 100%;
	font-family: Roboto !important;
	font-size: 14px;
}
img{
	width: 100%;
}
ul{
	list-style-type: none;
}
#body-login {
	background-color: #7e746d;
}
/* star css dang nhap */
#body-flex-login {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

#container-login {
	display: flex;
	width: 820px;
	height: 610px;
	background-color: white;
	font-family: cursive;
}

#container-login-left {
	display: flex;
	width: 380px;
	height: 610px;
}

#header-bottom-left {
	position: absolute;
	margin-top: 500px;
}

#header-top-left {
	position: absolute;
	text-align: center;
	margin-left: 60px;
}

#text-logo {
	font-size: 50px;
}

#hint-text-logo {
	font-size: 12px;
	opacity: 0.7;
}

#container-login-right {
	display: flex;
	flex: 1;
	justify-content: space-between;
	flex-direction: column;
	padding: 24px;
}

#header-top-right {
	font-size: 20px;
	color: #B7B7B7;
}

.actived {
	color: #DA7C79;
}

#container-social-login {
	align-self: flex-end;
}

#container-center-login-right {
	margin-bottom: 50px;
}

#container-center-login-right input[type=text] {
	margin-top: 8px;
	font-size: 18px;
}

#container-center-login-right input[type=password] {
	margin-top: 8px;
	font-size: 18px;
}

#container-center-login-right input[type=submit] {
	margin-top: 24px;
	color: white;
	font-size: 18px;
}

.material-textinput {
	height: 38px;
	border: 0;
	background-color: #D8D8D8;
	width: 100%;
}

.material-primary-button {
	height: 38px;
	border: 0;
	background-color: #00909C;
	width: 100%;
	box-shadow: 3px 7px 10px skyblue;
	border-radius: 5px;
}
.footer-input:focus, .footer-textarea:focus {
	outline: none;
	border: 2px solid #969696;
}
.footer-button:focus {
	outline: none;
	border: 2px solid #469af5;
}
.input-icon-email {
	background-image: url(../image/icon_email.png);
	background-size: 35px 35px;
	background-repeat: no-repeat;
	padding-left: 42px;
	border: #D8D8D8 solid 3px;
	border-radius: 5px;
}

.input-icon-password {
	background-image: url(../image/icon_lock.jpg);
	background-size: 32px 32px;
	background-repeat: no-repeat;
	padding-left: 42px;
	border: #D8D8D8 solid 3px;
	border-radius: 5px;
}

div p span {
	margin-left: 5px;
}

div p img {
	width: 15px;
	height: 20px;
	margin-left: 10px;
}

#background {
	width: 380px;
	height: 610px;
}

#container-social-login img {
	width: 30px;
	height: 30px;
	margin-left: 10px;
}
.container-signup-form{
	display: none;
}
#dangnhap,#dangky{
	cursor: pointer;
}
.dangnhapthanhcong{
	width: 32px;
	height: 32px;
	background-color: brown;
	text-align: center;
	border-radius: 16px;
}

/* end css dang nhap */

/* star css trang chu */
#header {
	background: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)),
		url(../image/backgroundtrangchu.jpg) no-repeat center center fixed;
	height: 100%;
	background-size: cover;
}

.navbar {
	background-color: #000000FF;
}

.nav_center {
	margin-left: 5%;
}

.nav_left {
	margin-left: 5%;
}

.nav_left li {
	margin-left: -30px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,0.8);
}

#icon-yame {
	width: 120px;
	height: 70px;
}

.active a {
	color: #28baf3 !important;
	font-weight: bold;
}

ul li a {
	margin-left: 40px;
}

.icon-gio-hang {
	margin-left: 60px;
}

.dropdown {
	position: relative;
}

.dropdown-menu {
	display: none;
	left: -4px;
	position: absolute;
	background-color: #d0b4b4;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.8);
	z-index: 1;
}

.dropdown-item {
	padding:10px 0;
	margin:0;
	width: 100%;
	text-align:center;

}

.dropdown-item:hover {
	background-color:#d2c7c7;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

#navbardrop {
	font-weight: bold;
}

.event_header {
	text-align: center;
	position: absolute;
	color: white;
	margin-top: 250px;
}

.event_header button {
	background-color: #4b5c63;
	color: white;
}

.icon {
	width: 48px;
	height: 48px;
}

#info {
	text-align: center;
	margin-top: 48px;
}

#info span {
	margin-top: 16px;
}

#title-sanpham {
	margin-top: 100px;
	text-align: center;
	font-size: 25px;
	font-weight: 500;
}

.sanpham {
	margin-top: 80px;
	background-color: #FFF;
	border: 2px solid #CCC;
	border-radius: 15px;
	margin-left: 50px;
	box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
	padding: 16px;
	width: 85%;
}

.sanpham img {
	height: auto;
	width: 100%;
}

.gia {
	font-size: 20px;
	color: red;
}

#footer {
	text-align: center;
	margin-top: 42px;
	color: white;
	background-color: black;
	padding: 32px;
	background: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url(../image/hinh_background_footer.jpg) no-repeat center center fixed;
	height: auto;
	background-size: cover;
}

.title-footer {
	font-size: 32px;
}

div textarea {
	width: 100%;
	background-color: #D8D8D8;
	margin-bottom: 8px;
}
/* menu */

.mymenu li ul{
	display: none;
}
.mymenu li:hover > ul{
	display: block;
}
.mymenu{
	padding: 0;
	margin: 0;
}
.mymenu li{
	font-size: 16px;
	font-weight: 400;
	padding: 4px 0px;
}

/* end menu */

/* star css chi tiết */
.body-chitiet{
	margin-top: 160px;
}
/* end css chi tiết */


@media ( max-width : 575.98px) {
	#icon-yame {
		margin-right: 355px;
		width: 100px;
		height: 68px;
	}
	.nav_center {
		right: 70px;
	}
	.nav_left {
		right: 30px;
	}
	.icon-gio-hang {
		margin-right: 1000px;
	}
}

@media ( max-width : 575.98px) {
	#icon-yame {
		margin-right: 350px;
		width: 100px;
		height: 68px;
	}
	.nav_center {
		right: 70px;
	}
	.nav_left {
		right: 40px;
	}
	.icon-gio-hang{
		margin-left:45px;
	}
}

@media ( min-width : 576px) and (max-width: 767.98px) {
	ul li a {
		margin-left: auto;
	}
}

@media ( min-width : 768px) and (max-width: 991.98px) {
	ul li a {
		margin-left: auto;
	}

}

@media ( min-width : 992px) and (max-width: 1199.98px) {
	ul li a {
		 margin-left: auto; 
	}
}
